$color-gray: #afb3b8;
.not-active {
  color: initial;
}
.header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 15px 15px;
  background-color: #1b1f24;
  z-index: 10000;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

  &--logo {
    img {
      width: 180px;
      height: 32px;
      cursor: pointer;
    }
  }

  fa-icon {
    display: none;
    cursor: pointer;
  }

  ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    li {
      display: flex;
      color: white;
      a {
        color: $color-gray;
        cursor: pointer;
        &:active {
          color: white;
        }

        &.active {
          color: white;
        }

        &:hover {
          color: white;
        }
      }
      span fa-icon {
        display: block;
      }
      select {
        background-color: transparent;
        border: none;
        color: $color-gray;
        cursor: pointer;
      }
    }
  }
}

@media (width < 860px) {
  .header {
    z-index: 10000;
    justify-content: space-between;
    fa-icon {
      color: $color-gray;
      display: flex;
      align-items: center;
    }
    ul {
      padding: 20px 0px;
      position: absolute;
      left: 0;
      right: 0;
      top: 55px;
      flex-direction: column;
      background-color: #1b1f24;
      gap: 15px;
      box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.75);
    }
  }

  .show-nav {
    display: flex;
  }

  .hide-nav {
    display: none !important;
  }
}
