<div class="header">
  <div class="header--logo animate__animated animate__fadeInDown">
    <img src="assets/DevMuski.png" alt="">
    <!-- <h3>&lt;/&gt; ANDRÉ</h3> -->
  </div>
  <fa-icon class="animate__animated animate__fadeInDown" (click)="showHideNav()" [icon]="faBars"></fa-icon>
  <ul class="animate__animated animate__fadeInDown" [ngClass]="buttonMenu ? 'show-nav' : 'hide-nav'">
    <li><a href="#home" (click)="scrollToSection('home')"
        [ngClass]="activeSection == 'home' ? 'active': 'not-active'">{{'HEADER.MENU.HOME' | translate}}</a></li>
    <li><a href="#about" (click)="scrollToSection('about')"
        [ngClass]="activeSection == 'about' ? 'active': 'not-active'">{{'HEADER.MENU.ABOUT' | translate}}</a></li>
    <li><a href="#myProjects" (click)="scrollToSection('myProjects')"
        [ngClass]="activeSection == 'myProjects' ? 'active': 'not-active'">{{'HEADER.MENU.MY_PROJECTS' | translate}}</a>
    </li>
    <li><a href="">{{'HEADER.MENU.ACHIEVEMENTS' | translate}}</a></li>
    <li><a href="#contact" (click)="scrollToSection('contact')"
        [ngClass]="activeSection == 'contact' ? 'active': 'not-active'">{{'HEADER.MENU.CONTACT' | translate}}</a></li>
    <li>
      <span><fa-icon [icon]="faEarthAmericas"></fa-icon></span>
      <select [(ngModel)]="storagedLanguage" (change)="onSelectChangeLanguage($event)">
        <option disabled selected value="">{{'HEADER.MENU.LANGUAGE.TITLE' | translate}}</option>
        <option value="en">{{'HEADER.MENU.LANGUAGE.ENGLISH' | translate}}</option>
        <option value="es">{{'HEADER.MENU.LANGUAGE.SPANISH' | translate}}</option>
      </select>
    </li>
  </ul>
</div>