* {
  font-family: "Noto Sans";
}

.first-page {
  background-color: #1b1f24;
  padding-top: 100px;

  &-background {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 0;
    width: 100%;
    background-color: #1b1f24;
    img {
      width: 30%;
      height: 30%;
      clip-path: circle();
    }
  }
}

.principal-item {
  color: #fbfcfd;
  z-index: 9999;
  max-width: 500px;
  h1 {
    font-size: 3.5em;

    &:before {
      content: "";
      display: block;
      border: 3px solid;
      width: 25%;
      margin-bottom: 15px;
    }
  }
  img {
    display: none;
  }

  &__more-info {
    h3 {
      color: #226eb4;
      font-weight: 900;
    }
    p {
      font-weight: 500;
    }
  }
}

.secondary-item {
  position: relative;
  z-index: 9998;
  max-width: 300px;
  &__title {
    color: #fbfcfd;
    h3 {
      font-size: 1.2em;
    }
  }

  &__content {
    color: #afb3b8;
    margin-top: 20px;
    font-size: 1.1em;

    &__social-media {
      a {
        color: #afb3b8;

        transition: all 0.3s;
        fa-icon {
          font-size: 1.5em !important;
        }
        &:hover {
          transform: scale(1.5);
          color: #fbfcfd;
        }
      }
      gap: 2em;
    }
  }
}

.second-page {
  background-color: #fbfcfd;
}

.parent-card {
  &:nth-child(2n) {
    padding-top: 125px;
  }
}

.card-about-me {
  padding: 0px 35px;
  h2 {
    color: #1b1f24;
    font-size: 4.5em;
    font-weight: 400;
  }

  &__title {
    column-gap: 50px;
    span {
      fa-icon {
        font-size: 5em;
      }
    }
  }

  &__content {
    div {
      max-width: 75px;
      filter: grayscale(50);
      transition: transform 0.3s ease;
      p {
        text-align: center;
      }
      img {
        width: 75px;
        height: 75px;
        object-fit: contain;
      }
      &:hover {
        transform: scale(1.2);
        filter: grayscale(0);
      }
    }
  }
}

.my-projects-page {
  &__title {
    text-align: center;
    margin-top: 20px;
  }
  &__description {
    text-align: center;
    font-size: 1.25em;
    font-weight: 300;
    padding: 10px 0;
  }
  &__card-project {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    width: 100%;
    min-width: 200px;
    border-radius: 20px;
    img {
      height: 45%;
    }

    &__description {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #1b1f24;
      border-radius: 20px;
      transition: all 0.5s;
      opacity: 0;
      color: #fbfcfd;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 15px 30px;
      text-align: justify;

      h3 {
        font-weight: 600;
      }

      p {
        font-weight: 300;
      }

      img {
        height: 50px;
      }

      a {
        font-size: 2em;
        color: #1b1f24;

        img {
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          animation: pulse 2s ease-in-out infinite;
        }
      }
    }

    &:hover {
      .my-projects-page__card-project__description {
        opacity: 0.95;
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Normal size */
  }
  50% {
    transform: scale(1.1); /* Slightly larger size */
  }
  100% {
    transform: scale(1); /* Back to normal size */
  }
}

.project-rotary {
  .rotary-img-resize {
    height: 40%;
  }
  background-color: #00246e;
}

.project-mi-oxxo {
  background-color: #e21c2a;
}

.project-comenzando-juntos {
  background: rgb(245, 92, 47);
  background: linear-gradient(
    304deg,
    rgba(245, 92, 47, 1) 0%,
    rgba(236, 160, 0, 1) 100%
  );
}

.project-wibe {
  background-color: #08b25c;
}

.project-cemex {
  background: rgb(2, 10, 70);
  background: linear-gradient(
    180deg,
    rgba(2, 10, 70, 1) 0%,
    rgba(17, 73, 148, 1) 100%
  );
}

.project-squirk {
  background-color: #14833e;
}

.project-abolengos {
  .abolengos-img-resize {
    height: 60% !important;
  }
  background-color: #261012;
}

.project-oldp {
  .old-portfolio-img-resize {
    height: 25% !important;
  }
  background: rgb(79, 134, 204);
  background: linear-gradient(
    180deg,
    rgba(79, 134, 204, 1) 0%,
    rgba(89, 192, 203, 1) 100%
  );
}

.achievement-page {
  margin-top: 50px;
  .resume {
    padding: 5% 10%;
    text-align: center;
    h2 {
      padding-bottom: 1.5em;
    }
  }
}

@media (width < 1281px) {
  .first-page {
    .container-fluid {
      padding-top: 0px;
    }
  }
}

@media (width < 1150px) {
  .principal-item {
    max-width: 300px;
    h1 {
      font-size: 2.5em;
    }
  }
}

@media (width < 992px) {
  .principal-item {
    max-width: 300px;
    h1 {
      font-size: 2.5em;
    }
  }
}

@media (width < 768px) {
  .first-page {
    padding-top: 50px;
    .container-fluid {
      padding-top: 0px;
    }
    &-background {
      display: none;
    }
  }

  .principal-item {
    max-width: 400px;

    img {
      display: inline-block;
      width: 60%;
      height: 60%;
      clip-path: circle();
      background-color: #24303d;
    }

    h1 {
      &:before {
        display: none;
      }
    }
  }

  .secondary-item {
    max-width: 400px;
    padding-top: 20px;
  }

  .parent-card {
    &:not(:first-child) {
      padding-top: 50px;
    }
  }
}

@media (width < 576px) {
  .row {
    padding-right: 55px;
    padding-left: 55px;
  }
}
