<div class="body">
  <div class="body-background">
    <img class="animate__animated animate__fadeInUp" src="../../../assets/André_Ibarra.png" alt="">
  </div>
  <div class="container-fluid">
    <div class="row py-5">
      <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
        <div class="principal-item animate__animated animate__fadeInLeft">
          <h1 class="px-auto">Soy André, FrontEnd Mobile & Web Developer</h1>
        </div>
      </div>
      <div
        class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center animate__animated animate__fadeInRight">
        <div>
          <div class="secondary-item">
            <div class="secondary-item__title">
              <h3>Acerca de mi</h3>
            </div>
            <div class="secondary-item__content">
              <p>Soy una persona diligente y con conocimiento de desarrollo en distintas áreas del desarrollo Frontend y
                Backend.
              </p>
            </div>
          </div>
          <div class="secondary-item pt-5">
            <div class="secondary-item__title">
              <h3>Mi trabajo</h3>
            </div>
            <div class="secondary-item__content">
              <p>He laborado en distintas empresas y por cuenta propia adquiriendo conocimiento de desarrollo web con
                Angular, y móvil con Ionic y Android nativo.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>