<div class="body">
  <div id="home" class="first-page">
    <div class="first-page-background">
      <img
        class="animate__animated animate__fadeInDown"
        src="../../../assets/andre.png"
        alt=""
      />
    </div>

    <div class="container-fluid text-center text-md-start">
      <div class="row py-5">
        <div
          class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center"
        >
          <div
            class="principal-item animate__animated animate__fadeInLeft pb-4"
          >
            <img
              class="animate__animated animate__fadeInDown py-4"
              src="../../../assets/andre.png"
              alt=""
            />
            <h1 class="px-auto">{{ "HOME.TITLE" | translate }}</h1>
            <div
              class="d-flex flex-row gap-4 justify-content-between justify-content-lg-start pt-4"
            >
              <div
                class="d-flex flex-row align-items-center gap-1 principal-item__more-info"
              >
                <div class="d-flex flex-row align-items-center">
                  <h2>3</h2>
                  <h3>+</h3>
                </div>
                <p>{{ "HOME.EXPERIENCE_YEARS" | translate }}</p>
              </div>
              <div
                class="d-flex flex-row align-items-center gap-1 principal-item__more-info"
              >
                <div class="d-flex flex-row align-items-center">
                  <h2>10</h2>
                  <h3>+</h3>
                </div>
                <p>{{ "HOME.PROJECTS_PARTICIPATION" | translate }}</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center animate__animated animate__fadeInRight"
        >
          <div>
            <div class="secondary-item pb-5">
              <div class="secondary-item__title">
                <h3>{{ "HOME.ABOUT_ME" | translate }}</h3>
              </div>
              <div class="secondary-item__content">
                <p>{{ "HOME.ABOUT_ME_DESCRIPTION" | translate }}</p>
              </div>
            </div>
            <div class="secondary-item pb-5">
              <div class="secondary-item__title">
                <h3>{{ "HOME.MY_WORK" | translate }}</h3>
              </div>
              <div class="secondary-item__content">
                <p>{{ "HOME.MY_WORK_DESCRIPTION" | translate }}</p>
              </div>
            </div>
            <div class="secondary-item">
              <div class="secondary-item__title">
                <h3>{{ "HOME.CONTACT_ME" | translate }}</h3>
              </div>
              <div class="secondary-item__content">
                <div
                  class="secondary-item__content__social-media d-flex flex-row justify-content-center justify-content-lg-start"
                >
                  <a href="" target="_blank">
                    <fa-icon [icon]="faFile"></fa-icon>
                  </a>
                  <a href="https://github.com/muskops" target="_blank">
                    <fa-icon [icon]="faGithub"></fa-icon>
                  </a>
                  <a
                    href="https://www.linkedin.com/in/ibarraandre/"
                    target="_blank"
                  >
                    <fa-icon [icon]="faLinkedin"></fa-icon>
                  </a>
                  <a href="https://www.youtube.com/@Sk8Muski" target="_blank">
                    <fa-icon [icon]="faYoutube"></fa-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="about" class="second-page py-5">
    <div class="container">
      <h1 class="text-center">{{ "ABOUT_ME.TITLE" | translate }}</h1>
      <div class="row">
        <div class="parent-card col-12 col-md-6">
          <div class="card-about-me">
            <h2 class="text-center text-md-start">01</h2>
            <div
              class="card-about-me__title pt-sm-4 d-flex flex-column flex-sm-row align-items-center"
            >
              <span><fa-icon [icon]="faPenRuler"></fa-icon></span>
              <div class="text-center text-sm-start">
                <h3>{{ "ABOUT_ME.PERSONAL_SKILLS" | translate }}</h3>
                <p>{{ "ABOUT_ME.PERSONAL_SKILLS_DESCRIPTION" | translate }}</p>
              </div>
            </div>
            <div
              class="card-about-me__content pt-3 d-flex justify-content-center flex-wrap column-gap-5 row-gap-4"
            >
              <div *ngFor="let item of aboutMeArray">
                <img [src]="item.img" alt="" />
                <p>{{ item.par | translate }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="parent-card col-12 col-md-6">
          <div class="card-about-me">
            <h2 class="text-center text-md-start">02</h2>
            <div
              class="card-about-me__title pt-sm-4 d-flex flex-column flex-sm-row align-items-center"
            >
              <span><fa-icon [icon]="faCode"></fa-icon></span>
              <div class="text-center text-sm-start">
                <h3>{{ "ABOUT_ME.DEVELOPER" | translate }}</h3>
                <p>{{ "ABOUT_ME.DEVELOPER_DESCRIPTION" | translate }}</p>
              </div>
            </div>
            <div
              class="card-about-me__content pt-3 d-flex justify-content-center flex-wrap column-gap-5 row-gap-4"
            >
              <div *ngFor="let item of developerArray">
                <img [src]="item.img" alt="" />
                <p>{{ item.par | translate }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="parent-card col-12 col-md-6">
          <div class="card-about-me">
            <h2 class="text-center text-md-start">03</h2>
            <div
              class="card-about-me__title pt-sm-4 d-flex flex-column flex-sm-row align-items-center"
            >
              <span><fa-icon [icon]="faMicrochip"></fa-icon></span>
              <div class="text-center text-sm-start">
                <h3>
                  {{ "ABOUT_ME.FRAMEWORKS_AND_TECHNOLOGIES" | translate }}
                </h3>
                <p>
                  {{
                    "ABOUT_ME.FRAMEWORKS_AND_TECHNOLOGIES_DESCRIPTION"
                      | translate
                  }}
                </p>
              </div>
            </div>
            <div
              class="card-about-me__content pt-3 d-flex justify-content-center flex-wrap column-gap-5 row-gap-4"
            >
              <div *ngFor="let item of frameworksArray">
                <img [src]="item.img" alt="" />
                <p>{{ item.par | translate }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="parent-card col-12 col-md-6">
          <div class="card-about-me">
            <h2 class="text-center text-md-start">04</h2>
            <div
              class="card-about-me__title pt-sm-4 d-flex flex-column flex-sm-row align-items-center"
            >
              <span><fa-icon [icon]="faLaptopCode"></fa-icon></span>
              <div class="text-center text-sm-start">
                <h3>{{ "ABOUT_ME.EXTRA_TOOLS" | translate }}</h3>
                <p>{{ "ABOUT_ME.EXTRA_TOOLS_DESCRIPTION" | translate }}</p>
              </div>
            </div>
            <div
              class="card-about-me__content pt-3 d-flex justify-content-center flex-wrap column-gap-5 row-gap-4"
            >
              <div *ngFor="let item of toolsArray">
                <img [src]="item.img" alt="" />
                <p>{{ item.par | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="myProjects" class="my-projects-page">
    <h2>{{ "MY_PROJECTS.TITLE" | translate }}</h2>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="my-projects-page__card-project">
            <img src="../../../assets/frameworks/angular.png" alt="" />
          </div>
        </div>
        <div class="col-4">
          <div class="my-projects-page__card-project">
            <img src="../../../assets/frameworks/angular.png" alt="" />
          </div>
        </div>
        <div class="col-4">
          <div class="my-projects-page__card-project">
            <img src="../../../assets/frameworks/angular.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="myProjects" class="achievement-page">
    <app-carousel
      [title]="'ACHIEVEMENTS.ACHIEVEMENTS'"
      [heightImg]="{ height: '600px' }"
      [images]="achievementsArray"
      [autoSlide]="true"
    ></app-carousel>
    <app-carousel
      [title]="'ACHIEVEMENTS.COURSES'"
      [heightImg]="{ height: '375px' }"
      [images]="coursesArray"
      [autoSlide]="true"
    ></app-carousel>
    <div class="resume">
      <h2>{{ "ACHIEVEMENTS.RESUME" | translate }}</h2>
      <ngx-extended-pdf-viewer
        [src]="resumePath"
        [useBrowserLocale]="true"
        [minifiedJSLibraries]="false"
        [height]="'90vh'"
        [pageViewMode]="'single'"
        [mobileFriendlyZoom]="'150%'"
        backgroundColor="#ffffff"
        [showSidebarButton]="false"
        [showFindButton]="true"
        [showPagingButtons]="true"
        [showDrawEditor]="false"
        [showTextEditor]="false"
        [showZoomButtons]="true"
        [showPresentationModeButton]="true"
        [showOpenFileButton]="false"
        [showPrintButton]="true"
        [showDownloadButton]="true"
        [showSecondaryToolbarButton]="true"
        [showRotateButton]="false"
        [showHandToolButton]="true"
        [showScrollingButton]="true"
        [showSpreadButton]="true"
        [showPropertiesButton]="true"
      ></ngx-extended-pdf-viewer>
    </div>
  </div>
</div>
