/* You can add global styles to this file, and also import other style files */

a {
  text-decoration: none !important;
}

.swal2-popup {
  width: 100%;
  position: relative;
  z-index: 10001;
}

.swal2-container {
  z-index: 10001;
}
